@page "/chat"
@using Markdig
@using MyAiTools.AiFun.Code
@using MyAiTools.AiFun.Model

@inject ChatService ChatService
@inject IJSRuntime JsRuntime

@if (_isLoading)
{
    <p>Loading data, please wait...</p>
}
<div class="chat-container">

    <div id="scrollableDiv" class="messages">
        @foreach (var message in _currentDialog.CurrentMessages)
        {
            <div class="message @GetMessageRole(message)">
                @if (message.Content != null)
                {
                    @((MarkupString)FormatMessage(message.Content))
                }
            </div>
        }
    </div>

    <div class="dialog-list">
        @foreach (var dialog in _currentDialog.Dialogs)
        {
            <button class="btn @GetButtonColor(dialog)" @onclick="() => LoadDialog(dialog)">@dialog.Title</button>
        }
    </div>

</div>

<div class="input-group">
    <textarea @bind="_userInput" @onkeyup="HandleKeyUp" class="form-control" placeholder="输入你的消息..."></textarea>
    <button class="btn btn-primary" @onclick="SendMessage">发送</button>
    <button class="btn btn-primary" @onclick="ClearMessage">清空当前</button>
    <button class="btn btn-primary" @onclick="ChangeChatMethod">@GetChatMethodString()</button>
    <button class="btn btn-primary" @onclick="AddDialog">新对话</button> <!-- Add button to start a new dialog topic -->
    <button class="btn btn-primary" @onclick="ClearAllMessage">清空所有</button>
</div>


@code {



    private readonly DialogForPage _currentDialog = new(); // Add a property to store the current dialog
    private int _currentDialogId = 1; // Add a property to store the current dialog ID
    private bool _isLoading = true;

    private string? _userInput;

    /// <summary>
    ///  初始化
    /// </summary>
    protected override void OnInitialized()
    {
        ChatService.RefreshMessage += RefreshMessage;
    }

    //异步初始化
    protected override async Task OnInitializedAsync()
    {
        await InitDialogs();
        _isLoading = false;
    }

    //初始化对话组
    private async Task InitDialogs()
    {
        await ChatService.InitDialogs();
    }

    /// <summary>
    ///     接收消息
    /// </summary>
    private async void RefreshMessage()
    {
        await Task.Run(SynMessage);
        //手工渲染
        StateHasChanged();
        // 调用 JavaScript 方法滚动到底部
        await ScrollToBottom();
    }

    /// <summary>
    /// 同步后台消息
    /// </summary>
    private void SynMessage()
    {
        try
        {
            // 获取当前对话消息
            var currentDialog = ChatService.GetCurrentDialog(_currentDialogId);
            if (currentDialog != null)
            {
                _currentDialog.Id = currentDialog.Id;
                _currentDialog.CurrentMessages = currentDialog.Messages;
                _currentDialog.Title = currentDialog.Title;
            }
            else
            {
                _currentDialog.Id = 0;
                _currentDialog.CurrentMessages = new List<Message>();
                _currentDialog.Title = string.Empty;
            }

            // 获取对话列表
            var dialogs = ChatService.GetDialogs();
            _currentDialog.Dialogs = dialogs;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    /// <summary>
    ///     向后台发送消息
    /// </summary>
    /// <returns></returns>
    private async Task SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(_userInput))
        {
            // 这里可以添加代码来处理用户的输入，比如发送到后端API并获取回复
            var userInput = _userInput;
            _userInput = string.Empty; // 清空输入框
                                       // 系统回复
            await ChatService.Chat(userInput, _currentDialogId);
        }
    }

    /// <summary>
    ///     清空消息
    /// </summary>
    private async Task ClearMessage()
    {
        await ChatService.ClearChatHistory(_currentDialogId);
    }

    /// <summary>
    ///    切换聊天模式
    /// </summary>
    /// <exception cref="ArgumentOutOfRangeException"></exception>
    private void ChangeChatMethod()
    {
        ChatService.ChatMethod = ChatService.ChatMethod switch
        {
            ChatMethod.Streaming => ChatMethod.Async,
            ChatMethod.Async => ChatMethod.Streaming,
            _ => throw new ArgumentOutOfRangeException()
        };
    }

    /// <summary>
    ///     开启新对话主题
    /// </summary>
    private async Task AddDialog()
    {
        try
        {
            var dialog = ChatService.DialogGroup.Dialogs.FirstOrDefault(dialog => dialog.Id == _currentDialogId);
            if (dialog is not null)
            {
                if (string.IsNullOrWhiteSpace(dialog?.Title)) return;
                await ChatService.AddDialog();
                await LoadDialog(ChatService.DialogGroup.Dialogs.Last());
            }
            else
            {
                await ChatService.AddDialog();
                await LoadDialog(ChatService.DialogGroup.Dialogs.Last());
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    /// <summary>
    ///     加载对话
    /// </summary>
    /// <param name="dialog"></param>
    private async Task LoadDialog(Dialog dialog)
    {
        _currentDialogId = dialog.Id;
        SynMessage();
        //手工渲染
        StateHasChanged();
    }

    /// <summary>
    ///    清空所有消息
    /// </summary>
    private async Task ClearAllMessage()
    {
        await ChatService.ClearAllDialog();
        _currentDialogId = 1;

        await AddDialog();
    }


    #region 小功能区域

    /// <summary>
    ///     快捷键处理
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        //todo 无法正常触发，未找到原因
        if (e is { CtrlKey: true, Key: "Enter" })
        {
            await SendMessage();
        }
    }

    /// <summary>
    ///    滚动到底部
    /// </summary>
    private async Task ScrollToBottom()
    {
        await JsRuntime.InvokeVoidAsync("scrollToBottom");
    }

    /// <summary>
    ///     格式化消息，用于图片显示
    /// </summary>
    /// <param name="message"></param>
    /// <returns></returns>
    private string FormatMessage(string message)
    {
        var mdMessage = Markdown.ToHtml(message);
        return mdMessage;
    }

    //获取消息角色
    private string GetMessageRole(Message message)
    {
        return message.Role switch
        {
            ChatRole.User => "user-message",
            ChatRole.System => "system-message",
            ChatRole.Assistant => "assistant-message",
            _ => "system-message"
        };
    }

    //获取按钮颜色
    private string GetButtonColor(Dialog dialog)
    {
        return dialog.Id == _currentDialogId ? "btn-secondary" : "btn-primary";
    }

    //获取聊天模式字符串
    private string GetChatMethodString()
    {
        return ChatService.ChatMethod switch
        {
            ChatMethod.Streaming => "流式",
            ChatMethod.Async => "异步",
            _ => throw new ArgumentOutOfRangeException()
        };
    }

    #endregion


}